.token {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: inline-block;
}

.account-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 13rem;
  text-decoration: none;
  white-space: nowrap;
  color: white;
}
